@font-face {
	font-family: 'Gotham Pro-light';
	src: url('../fonts/GothamPro-Light.eot');
	src: local('../fonts/Gotham Pro Light'), local('../fonts/GothamPro-Light'),
		url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Light.woff') format('woff'),
		url('../fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro-regular';
	src: url('../fonts/GothamPro.eot');
	src: local('../fonts/Gotham Pro'), local('../fonts/GothamPro'),
		url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro-Medium';
	src: url('../fonts/GothamPro-Medium.eot');
	src: local('../fonts/Gotham Pro-Medium'), local('../fonts/GothamPro-Medium'),
		url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Medium.woff') format('woff'),
		url('../fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}